<div class="align" *ngIf="!email; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)='addPost(rForm)'>

    <div class="alert" *ngIf="!rForm.valid && valid && reset">
      <div class="alert" *ngIf="rForm.get('email').hasError('required')">
        {{ errorMessages.emailRequired }}
      </div>
      <div class="alert" *ngIf="rForm.get('email').hasError('pattern')">
        {{ errorMessages.emailValid }}
      </div>
    </div>

    <div class="alert" *ngIf="!rForm.valid && valid && reset">
      <!-- Using Property binding, Display the error message -->
      <div class="alert" [hidden]="!errorAlert(rForm,'password','required')">
        {{ errorMessages.passwordRequired }}
      </div>
      <div class="alert" [hidden]="!errorAlert(rForm,'password','pattern')">
        {{ errorMessages.passwordMatch }}
      </div>
    </div>


    <div class="form-container">
      <div class="form-group">
        <div class="form-group">
          <label>Email
            <input type="text" name="email" class="form-control" formControlName="email">
          </label>
        </div>

        <div class="alert" 
          *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">

          <div class="alert" 
          *ngIf="rForm.get('email').hasError('required')">
          {{ errorMessages.emailRequired }}
          </div> 

          <div class="alert" 
          *ngIf="rForm.get('email').hasError('pattern')">
           {{ errorMessages.emailValid }}
          </div>
          
           </div>


        <div class="form-group">
          <label>Password
            <input type="password" class="form-control" formControlName="password">
          </label>
        </div>

        <div class="alert" 
          *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">

          <div class="alert" 
          *ngIf="rForm.get('password').hasError('required')">
          {{ errorMessages.passwordRequired }}
          </div> 

          <div class="alert" 
          *ngIf="rForm.get('password').hasError('pattern')">
           {{ errorMessages.passwordMatch }}
          </div>
          
           </div>

        <div class="form-group">
          <label>Choices</label>

          <select id="my_select" formControlName="choice" class="form-control">
            <option value="Basic">Basic</option>

            <option value="Advanced" selected="Advanced" [selected]="temp">Advanced</option>

            <option value="Pro">Pro</option>
          </select>
        </div>

        <button class="button expanded">Submit Form</button>
        <button type="button" class="button expanded" (click)="clearMethod()">Reset Form</button>
      </div>
    </div>
  </form>
</div>


<ng-template #forminfo>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" [ngStyle]="{'font-size': a }">
        Email: {{ email }}
      </li>
      <li class="list-group-item" [ngStyle]="{'font-size': a }">
        Password: {{ password }}
      </li>
      <li class="list-group-item" [ngStyle]="{'font-size': a }">
        Choice: {{ choice | uppercase }}
      </li>
    </ul>
  </div>
</ng-template>